html{
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f3ff;
}

button{
    transition:.3s;
}

button:hover{
    transform:translateY(-2px);
}

.card{
    background:white;
    border-radius:20px;
    padding:25px;
    margin-bottom:25px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.history-title{
    color:#6d28d9;
}
/* COLLAPSED SIDEBAR */

.side-menu.sidebar-collapsed{
    width:80px;
}

.side-menu.sidebar-collapsed .sidebar-logo h2{
    display:none;
}

.side-menu.sidebar-collapsed a{
    font-size:0;
    padding:14px 0;
    text-align:center;
}
.side-menu.sidebar-collapsed{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.side-menu.sidebar-collapsed a{
    width:50px;
    height:50px;
    margin-bottom:12px;
    border-radius:12px;
}
#toast{
    position:fixed;
    top:20px;
    right:20px;
    min-width:300px;
    max-width:380px;
    padding:15px 20px;
    border-radius:10px;
    color:#fff;
    font-size:15px;
    font-weight:500;
    z-index:99999;
    opacity:0;
    visibility:hidden;
    transform:translateY(-20px);
    transition:.3s;
    box-shadow:0 8px 25px rgba(0,0,0,.25);
}

#toast.show{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}

#toast.success{
    background:#16a34a;
}

#toast.error{
    background:#dc2626;
}

#toast.warning{
    background:#f59e0b;
}

#toast.info{
    background:#2563eb;
}
#toast{

    position:fixed;

    top:30px;

    left:50%;

    transform:translateX(-50%) translateY(-20px);

    min-width:340px;

    max-width:500px;

    padding:16px 22px;

    border-radius:12px;

    color:#fff;

    font-size:15px;

    font-weight:600;

    text-align:center;

    z-index:999999;

    opacity:0;

    visibility:hidden;

    transition:.35s ease;

    box-shadow:0 15px 40px rgba(0,0,0,.25);

}

#toast.show{

    opacity:1;

    visibility:visible;

    transform:translateX(-50%) translateY(0);

}

#toast.success{

    background:#16a34a;

}

#toast.error{

    background:#dc2626;

}

#toast.warning{

    background:#f59e0b;

}

#toast.info{

    background:#2563eb;

}